HOST=127.0.0.1
PORT=3000
SECRET=keyboard-cat
DATABASE_URL=mysql://user:pass@localhost/database
PUBLIC_URL=http://localhost:3000
EMAIL_SIMULATE=true
EMAIL_FROM_ADDR=sender@example.com
EMAIL_FROM_NAME=Sender Name
FE_URL_BASE=http://localhost:8080
FE_PATH_CONFIRM_EMAIL=/auth/confirm-email/$token
FE_PATH_PASSWORD_RESET=/auth/reset-password/$token
FE_PATH_AUTH_SUCCESS=/auth/login/$token
FE_PATH_AUTH_FAILURE=/auth/login?error=$message
