---
layout: default.hbs
subject: Password Reset
---
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>Hi \{{firstName}},</p>
            <p>To reset your password, please click on the button below.</p>

            {{> button type='primary' align='left' url='{{link}}' title='Reset Password' }}
            
            <p>If you did not request this, please ignore this message!</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
